body{
 	background-color: #e0ccff; 
 	color: blue;
 	}
 	p.first{
 	width: 100%;
 	color: #8000ff;
 	font-family: "Comic Sans MS"; 
 	}
 	p.second{
 	width: 100%;
 	color: #8000ff;
 	font-family: "Comic Sans MS"; 
 	}
